<!DOCTYPE HTML>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>judge</title>
</head>
<body>
	<div>
       <p>USERID <%= USERID %></p>
       <p>CODE</p>
       <textarea cols="20" rows="20"><%- CODE %></textarea>
       <p>LANGUAGE <%= LANG %></p>
    </div>
</body>
</html>
