<!DOCTYPE HTML>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>judge</title>
</head>
<body>
	<div>
        <form action="judge" method="POST">
            <label>user_id</label>
            <input type="text" name="userid"><br>

            <label>code</label>
            <textarea name="code" cols="20" rows="20"></textarea><br>

            <label>language</label>
            <select name="lang">
                <option value="0CPP14">CPP14</option>
                <option value="1PYTHON3">PYTHON3</option>
                <option value="2PYTHON2">PYTHON2</option>
            </select><br>

            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>