<!DOCTYPE HTML>
<html lang="ko">
<head>
    <%- include('./layout/head') %>
    <title>Main Page</title>
</head>
<body>
	<div class="papyrus">
        <%- include('./layout/nav') %>
        <div class="body container">
            <div class="main-padding">
                <h2 style="font-weight: bold; text-align: center">Test</h2>
            </div>
        </div>
        <%- include('./layout/footer') %>
    </div>
</body>
</html>